:root {
    --primary-color: #FFFFFF;
    --secondary-color: #f8f8f8f3;
    --primary-text-color: #606060;
    --secondary-text-color: #0844a4;
    --line-color: #ececec;
    --btn-color: #0d54c7;
    --icon-color: rgb(122, 122, 122);
    --border-color: #0844a4;

    --pie1-color: #039b1c;
    --pie2-color: #0d49d3;
    --pie3-color: #ea1a1a;
    --pie4-color: #eaca2a;
    --pie-border-color: #000000;
    --pie-text-color: #000000;

    --input-border-color: #449bc4;
}

*,
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

body {
    background: var(--secondary-color);
    color: var(--primary-text-color);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.wrapper {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    background: var(--primary-color);
}
.section {
    border-bottom: 1px solid var(--line-color);
    padding: 20px 40px 0px 40px;
    min-height: 100vh;
}

.section-tile {
    text-align: center;
    font-size: 55px;
    color: var(--secondary-text-color);
}
.to-top-link {
    color: var(--secondary-text-color);
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 30px;
}
