.about-photo {
    height: 300px;
    object-fit: cover;
    margin: 20px;
}

.about-container {
    display: flex;
}

.about-block {
    margin: 0 auto;
}

.about-content {
    display: flex;
    gap: 30px;
}

.about-text {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    width: 50%;
    margin: 40px auto 60px auto;
}

.about-content-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-icon-title {
    color: var(--secondary-text-color);
    font-size: 20px;
}

.about-icon-text {
    font-weight: normal;
    font-size: 16px;
    margin-left: 60px;
}