.experience-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.experience-describe {
    height: 200px;
    width: 350px;
    border: 3px solid var(--primary-text-color);
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.experience-describe-text {
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

.line {
    width: 150px;
    height: 2px;
    border: none;
    background: var(--line-color);
}

.pie {
    background: 
            radial-gradient(circle closest-side,
                var(--primary-color) 0,
                var(--primary-color) 56%,
                transparent 56%,
                transparent 100%,
                var(--primary-color) 0),
            conic-gradient(from 11deg,
                var(--pie2-color) 0,
                var(--pie2-color) 28.7%,
                var(--pie3-color) 0,
                var(--pie3-color) 44.7%,
                var(--pie4-color) 0,
                var(--pie4-color) 73.4%,
                var(--pie1-color) 0,
                var(--pie1-color) 100%);
    
    border: 2px solid black; 
    border-radius: 50%; 
    height: 200px; 
    width: 200px;


}
.tech-skills {
    display: flex;
    justify-content: center;
    gap: 10px;  
    padding: 20px;
}
.tech-skill-1, .tech-skill-2, .tech-skill-3, .tech-skill-4 {
    color: var(--pie-text-color);
    background-color: var(--pie1-color);
    border: 2px solid var(--pie-border-color);
    border-radius: 25px;
    width: 80px;
    padding: 10px 0;
    text-align: center;
}
.tech-skill-2 {
    background-color: var(--pie2-color);
}
.tech-skill-3 {
    background-color: var(--pie3-color);
}
.tech-skill-4 {
    background-color: var(--pie4-color);
}