.get {
    padding-top: 40px;
}
.get-text {
    text-align: center;
    color: var(--primary-text-color);
    font-weight: normal;
    margin: 25px 0;
} 
.get-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    max-width: 800px;
    margin: 0 auto;
}
.textarea-cont {
    width: 100%;
}
.textarea {
    display: block;
    width: 100%;
    border: 0.5vh solid var(--input-border-color);
    padding: 5px 20px;
    font-size: 18px;
}
.get-form-inputs-cont {
    display: flex;
    gap: 10px;
}
.get-form-inputs {
    height: 40px;
    border: 0.5vh solid var(--input-border-color);
    padding: 5px 20px;
    font-size: 18px;
    width: 40%;
}
.get-btn {
    background-color: var(--btn-color);
    color: var(--primary-color);
    border: none;
    width: 30%;
    cursor: pointer;
}